extends layout
include mixins/mixinUtil
include mixins/mixinClient
include mixins/mixinNotifications
include mixins/mixinCredit

block content
    include ./header
    .container
        .page-header
            .row.middle-sm
                .col-sm-6.col-md-10
                    h1 Wallet: #{account.name}
                .col-sm-6.col-md-2.text-right
                    - var balanceId = uid.sync(8) + '_balanceId'
                    div.btn.btn-success
                        h5(id = balanceId) Loading Balance

                    +getBalanceScript(balanceId, account.id)
        if clients.length == 0 && account.type == 'WalletMSS'
            .row.center-sm.middle-sm
                .alert.alert-info
                    .col-sm-1
                        span.fa.fa-lightbulb-o.fa-2x
                    .col-sm-11
                        t  It seems like you have no device connected to this wallet.
                        t  Download the app for your device or use the browser on your device to register and connect.
        if clients.length == 0 && account.type == 'WalletMSC'
            .row.center-sm.middle-sm
                .alert.alert-info
                    .col-sm-1
                        span.fa.fa-lightbulb-o.fa-2x
                    .col-sm-11.text-left
                        t  It seems like this wallet isn't connected to a corresponding Bitcoin Server Wallet.
                        br
                        t  To Register do the following steps:
                        br
                        t: strong Step 1:
                        t  Login to your Account account, go to Options > Register Device Wallet > Show Registration Info.
                        br
                        t: strong Step 2:
                        t  Copy the text and enter this into Options > Scan QR on this device.
                        br
                        tr: strong Step 3:
                        t  Click Scan/Submit


        .row
            .col-sm-12
                +AccountTable(account)

        .row
            .col-sm-12
                .panel.panel-default
                    .panel-body
                        .row
                            .col-sm-12
                                ul.nav.nav-tabs
                                    if account.type == 'WalletMSC'
                                        li(class = (query.activeTab == "send") ? 'active' : '')
                                            a.updateParam(href="#Send" data-toggle='tab' data-text='send' data-query='activeTab') Send Funds
                                        li(class = (query.activeTab == "recieve") ? 'active' : '')
                                            a.updateParam(href="#Receive" data-toggle='tab' data-text='receive' data-query='activeTab') Receive Funds
                                        li(class = (query.activeTab == "credit") ? 'active' : '')
                                            a.updateParam(href="#Credit" data-toggle='tab' data-text='credit' data-query='activeTab') Credit
                                    li(class = (query.activeTab == "recieve") ? 'active' : '')
                                        a.updateParam(href="#Receive" data-toggle='tab' data-text='receive' data-query='activeTab') Receive Funds
                                    li(class = (!query.activeTab || query.activeTab == "account") ? 'active' : '')
                                        a.updateParam(href='#SignMessageTab' data-toggle='tab' data-text='account' data-query='activeTab') Scan QR/Submit
                                    li(class = (query.activeTab == "clients") ? 'active' : '')
                                        a.updateParam(href="#Clients" data-toggle='tab' data-text='clients' data-query='activeTab') Connected Devices
                                    li(class = (query.activeTab == "register") ? 'active' : '')
                                        a.updateParam(href="#Options" data-toggle='tab' data-text='register' data-query='activeTab') Options
                                    li(class = (query.activeTab == "notifications") ? 'active' : '')
                                        a.updateParam(href="#Notifications" data-toggle='tab' data-text='notifications' data-query='activeTab') Notifications
                                            span="  "
                                            span.badge=notifications.length

                        .rowR
                            .col-sm-12
                                .tab-content
                                    .tab-pane.fade#Send(class = (query.activeTab == "send") ? 'in active' : '')
                                        +sendClient(account)
                                    .tab-pane.fade#Receive(class = (query.activeTab == "receive") ? 'in active' : '')
                                        +receiveClient(account)
                                    .tab-pane.fade#Notifications(class = (query.activeTab == "notifications") ? 'in active' : '')
                                        +notificationsDiv(notifications)
                                    .tab-pane.fade#Credit(class = (query.activeTab == "credit") ? 'in active' : '')
                                        +creditDiv(account, credit)
                                    .tab-pane.fade#SignMessageTab(class = (!query.activeTab || query.activeTab == "account") ? 'in active' : '')
                                        +signMessageTab(account)
                                    .tab-pane.fade#Options(class = (query.activeTab == "options") ? 'in active' : '')
                                        +registerClient(account)
                                    .tab-pane.fade#Clients(class = (query.activeTab == "clients") ? 'in active' : '')
                                        +clientsTable(clients)


mixin receiveClient(account)
    .row.hover.padding
        .col-sm-6
            p.no-margin Show Receiving Address:
        .col-sm-6
            p.no-margin
                a#QRShowReceivingAddress Show Address
    -var modalId = 'modal_' + uid.sync(8)
    +qrModal(modalId, 'Receiving Address', 'Add funds to the hub using this address')
    +qrModalFill(modalId, '#QRShowReceivingAddress', '/api/account/' + account.id + '/currentAddress?uri=true&testnet=true', false)

    .row.hover.padding
        .col-sm-6
            p.no-margin Show New Receiving Address:
        .col-sm-6
            p.no-margin
                a#QRShowReceivingAddress2 Show Next Address
    -var modalId = 'modal_' + uid.sync(8)
    +qrModal(modalId, 'Receiving Address', 'Add funds to the hub using this address')
    +qrModalFill(modalId, '#QRShowReceivingAddress2', '/api/account/' + account.id + '/currentAddress?uri=true&testnet=true&next=true', false)

mixin registerClient(account)
    div(style='padding-top: 2em')
        .row.hover.padding
            .col-sm-6
                p.no-margin Register Device Wallet:
            .col-sm-6
                p.no-margin
                    a#QRShow Show Registration Info
        -var modalId = 'modal_' + uid.sync(8)
        +qrModal(modalId, 'Registration Information', 'Scan or copy/paste with the account your want to register')
        +qrModalFill(modalId, '#QRShow', '/api/account/' + account.id + '/clients/register', true)

        .row.hover.padding
            .col-sm-6
                p.no-margin Show HD Private Key:
            .col-sm-6
                p.no-margin
                    a#QRShowHDPrivate Show Information
        -var modalId = 'modal_' + uid.sync(8)
        +qrModal(modalId, 'Private Master Key (DO NOT SHARE)', 'Use this to backup your keys or sync a second client')
        +qrModalFill(modalId, '#QRShowHDPrivate', '/api/account/' + account.id + '/clients/HdPrivkey', true)

        .row.hover.padding
            .col-sm-6
                p.no-margin Backup:
            .col-sm-6
                p.no-margin
                    a#QRShowReceivingAddress3 Show Backup Code
        -var modalId = 'modal_' + uid.sync(8)
        +qrModal(modalId, 'Backup Sentence', 'Save this wordlist offline as a backup')
        +qrModalFill(modalId, '#QRShowReceivingAddress3', '/api/account/' + account.id + '/backup', false)




mixin clientsTable(clients)
    .row
        .col-sm
            h3 Connected Devices:
    .row
        .col-sm-12
            table.table.table-responsive.table-striped
                thead
                    th Type
                    th Identification Key/Name
                    th Actions
                tbody
                    for client in clients
                        tr
                            td
                                if client.type == 'SERVER'
                                    t Websit
                                else if client.type == 'ANDROID'
                                    t Android
                            - var clientName = _.find(groups, {'name':client.typeInfo.senderPubkey})
                            td.dont-break-out
                                if clientName && clientName.displayName != ''
                                    =clientName.displayName
                                else
                                    =client.typeInfo.senderPubkey
                            td
                                a.btn.btn-default.editClient(href='/policy?groupName=' + client.typeInfo.senderPubkey data-pubkey='client.typeInfo.senderPubkey')
                                    fa.fa.fa-pencil
                                    t  Edit Limits
        .colsm

mixin signMessageTab(account)
    - var formId = "form_" + uid.sync(18)
    - var singSendId = uid.sync(8);
    div
        .row
            .col-sm-12
                h4 Scan the QR code or Submit a message from an other wallet manually.
            .col-sm-12
                div#SignMesseageDiv
        .row
            .col-sm-12.col-md-12
                form(id=formId)
                    .form-group
                        textarea.form-control(id="msg_"+formId type="area" name="msg" rows=5)
                    .btn-group
                        button.btn.btn-default.hidden(type='submit') Sign
                        a.btn.btn-default(id=formId+'_send') Scan/Submit
            .col-sm-12.col-md-6
                .form-group
                    textarea.form-control.hidden(rows=15)#response

    script.
        var account = !{account}
        var formId = !{JSON.stringify(formId)}
        $('#'+formId+'_send').click(function () {
            var json = JSON.parse($("#msg_" + formId).val());
            $.ajax({
                type: 'post',
                url: '/api/message/' + account.id,
                data: json,
                success: function (res) {
                    var div = $('#SignMesseageDiv');
                    console.log(res)
                    div.removeClass();
                    if (res.msg == "" && res.status == 'success') {
                        div.addClass('alert alert-success')
                        div.html('Success');
                    }
                    else if (res.msg.msg && res.msg.msg.msgType =='ACCOUNT_REG_CLIENT_MSW_GETHDPRIV') {
                        div.addClass('alert alert-warning')
                        div.html('Successful Registered: Next Step is to copy the  <b>HD Private Key</b> from an existing, fully registered device' +
                                ' </br> This can be found on the device under: Options > Show HD Private Key > Show Information </br>' +
                                'Copy or scan the information into the field below')
                    }
                    else {
                        div.addClass('alert alert-success')
                        div.html('Successfully registration as the first client.')
                    }
                    $('#response').text(JSON.stringify(res, false, 3));
                },
                error: function(err) {console.error(err)}
            })
        })


        $("#" + formId).submit(function (e) {
            e.preventDefault();
            var json = JSON.parse($("#msg_" + formId).val());
            $.ajax({
                type: 'post',
                url: '/api/account/' + account.id + '/sign',
                data: json,
                success: function (res) {
                    console.log(res)
                    $('#response').text(JSON.stringify(res.encrypted));
                },
                error: function (err) {
                    console.log("Failed", err)
                }
            })
        })

mixin AccountTable(account)
    - var rn = "toXeditable_" +uid.sync(18);
    - var url = '/api/account/'+ account.id +'/edit'
    table.table.table-responsive.table-striped
        thead.hidden
            th Field
            th Value
        tbody
            tr
                th Type
                td
                    +typeToPretty(account.type)
            tr
                th Name
                td
                    a(class=rn data-pk=account.id data-type='text' data-name='name' value=account.name)=account.name
            tr
                th Communication Key
                td: p=account.getAuthPub()
            if account.type == 'WalletMSS'
                tr.hidden
                    th XPubs
                    td.dont-break-out
                        for xpub in account._xpubMasters
                            p: code=xpub.xpubkey
            if account.type == 'WalletMSC'
                tr.hiddden
                    th Xpub
                    td.dont-break-out
                        p: code=account.getXpubMaster()
                tr
                    th Xpub Master
                    td.dont-break-out
                        p: code=account._hdClientMaster

    script.
        var rn = !{JSON.stringify(rn)}
        var url = !{JSON.stringify(url)}
        $(document).ready(function () {
            // $.fn.editable.defaults.mode = 'inline';
            $("." + rn).editable({
                url: url
                ,
                success: function (s) {
                    console.log('success', s)
                },
                error: function (e) {
                    console.log('error', e)
                }
            })
        })
