extends layout

block content
    include ./header

    .container
        .page-header
            .row.middle-sm
                .col-sm
                    h1
                        span.fa.fa-plus-circle
                        t  Create New Wallet

        .row
            form(action='/account/create' method='POST' style="width:100%")
                .form-group.row.middle-sm
                    label.col-sm-2 Name:
                    input.col-sm-10.form-control(type='text' name="name" placeholder="Wallet #1")
                .form-group.row.middle-sm
                    label.col-sm-2 Wallet Type:
                    select#selectAccount.col-sm.form-control(name="type")
                        for type in options
                            option(value=type)=type

                .form-group.row.middle-sm
                    label.col-sm-2 Description:
                    //- var description =
                    p.col-sm-10#targetDesc
                .form-group.row.middle-sm
                    .col-sm.text-right
                        button.btn.btn-success(type='submit') Create Wallet

    script.
        var desc = !{JSON.stringify(desc)}

        function changeDescription() {
            var val = $("#selectAccount option:selected").val();
            var description = desc[val];
            $("#targetDesc").text(description);
        }

        $("#selectAccount").change(function () {
            changeDescription();
        })

        changeDescription();