extends layout
include mixins/mixinUtil

block content
    include ./header

    .container
        .page-header
            .row.middle-sm
                .col-sm
                    h1
                        span.fa.fa-list
                        t  Wallets
                    p An overview of all your wallets under this device/user Wallet
        .row#actionbar
            .col-sm-12.text-right
                -var modalId = uid.sync(5);
                btn.btn.btn-success(data-toggle='modal', data-target='#'+modalId)
                    fa.fa.fa-plus
                    t  Create New Wallet
            .col-sm-12
                +createAccountModal(modalId,types)
        .row
            .col-sm
                if accounts.lenght == 0
                    p No account present, please create an account
                else
                    table.table.table-responsive
                        thead
                            th Name
                            th Type
                            th.hidden Id
                            th.hidden PublicKey
                            th Actions
                        tbody
                            for account, index in accounts
                                +AccountTr(account, index)

mixin AccountTr(account, index, classId)
    tr
        td=account.name
        td
            if account.type == 'WalletMSS'
                t Bitcoin Server Wallet
            else if  account.type == 'WalletMSC'
                t Device Wallet
        td.hidden=account.id
        td.dont-break-out.hidden=account.pubkey
        td.text-right
            .btn-group
                a.btn.btn-default(href="/account/" +account.id)
                    span.fa.fa-pencil
                    t  Edit/View
                -var modalId = 'modal_delete_'+uid.sync(8)
                a.btn.btn-danger(id='btn_'+modalId data-toggle='modal' data-target='#'+modalId data-pubkey=account.pubkey)
                    span.fa.fa-trash
                    t  Remove
                -var data = {msgType: 'ACCOUNT_REMOVE',msgData: {pubkey: account.pubkey}}
                -var text = 'About to delete your account'
                -var url = '/api/account/delete'
                +confirmModal(modalId, text, data, url, 'btn-danger', ' Delete')

mixin createAccountModal(modalId,types)
    +createModal(modalId)
        .modal-header
            button.close(data-dismiss="modal")
                fa.fa.fa-close
            h4.modal-title Create a new wallet
        .modal-body
            form(id='modal_form_' + modalId)
                .form-group.hidden
                    input.form-control(type='text', name='msgType', value='ACCOUNT_NEW' readonly)
                .form-group
                    label Wallet Name:
                    input.form-control(name='msgData[name]' type="text" placeholder='Name')
                .form-group
                    label Wallet Type:
                    select.form-control.toSelect2(name='msgData[accountType]' style='width:100%')
                        for type in types
                            option(value=type)
                                +typeToPretty(type)

                .text-right
                    .form-group
                        .btn-group
                            a.btn.btn-default(data-dismiss="modal")
                                span.fa.fa-undo
                                t  Back
                            a.btn.btn-success(data-form='#modal_form_' + modalId id="btn_" + modalId)
                                span.fa.fa-plus
                                t  Save


            +select2()
            +submitFormScript('#btn_'+modalId, '/api/account/new')