extends layout

block content
    include ./header

    .container
        .page-header
            .row.middle-sm
                .col-sm
                    h1
                        span.fa.fa-user
                        t  Register New Admin
        .row.center-sm
            .well
                .col-sm-12
                    div#qr2
                .col-sm-12
                        p
                        code=JSON.stringify(qrcode)



    script.
        var qrc = !{JSON.stringify(qrcode)}
        //console.log(!{qr})
        console.log(qrc)
        $('#qr2').qrcode({
            render: 'canvas',
            text: JSON.stringify(qrc)
        })
