nav.navbar.navbar-inverse
    .container
        .navbar-header
            button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target="#bs-navbar-collapse" aria-expanded = 'false ')
                span.sr-only Toggle Navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='#') PPH
        .collapse.navbar-collapse#bs-navbar-collapse
            ul.nav.navbar-nav
                li
                    a(href='/profile') Profile
                li
                    a(href="/account/all?show=t") Wallets
                li
                    a(href="/policy") Policy
            ul.nav.navbar-nav.navbar-right
                li
                    a(href='/logout') Logout