extends layout

block content
    .container.rowpadding
        .jumbotron
            h1
                strong Welcome,
            h2 to your Personal Payment Wallet
            p If you have an account already, login below. Otherwise create one!
            p
                a.btn.btn-info.text-center(href='/login')
                    span.fa.fa-user
                    t  Login
        .row
            .col-sm-12
                .panel.panel-success
                    .panel-heading
                        t Register a new account
                    .panel-body
                        p
                            strong First Step
                            t  is to register a new account.
                        a.btn.btn-success(href='/signup?accountType=WalletMSS')
                            span.fa.fa-user
                            t  Register a New Wallet
            .col-sm-12
                .panel.panel-default
                    .panel-heading
                        t Register a new device
                    .panel-body
                        p
                            t If you
                            strong  already registered a new user account
                            t , you can sign up each of your devices and couple them.
                        p Each device will have a personal name and password.
                        a.btn.btn-default(href='/signup?accountType=WalletMSC')
                            span.fa.fa-user
                            t  Register New Device


