doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width')
        title= title

        block css
            link(rel='stylesheet', href='/css/bootstrap.min.css')
            link(rel='stylesheet', href='/css/flexboxgrid.css')
            link(rel='stylesheet', href='/css/style.css')
            link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css')
            link(rel='stylesheet', href='/css/bootstrap-editable.css')
            link(rel='stylesheet', href='/css/bootstrap-datepicker.css')
        block js
            script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
            script(src='/js/bootstrap.js')
            script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js")
            script(src='/js/jquery.qrcode-0.12.0.min.js')
            script(src='/js/jquery.serializejson.js')
            script(src='/js/bootstrap-editable.js')
            script(src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.10/clipboard.min.js")
            script(src='https://use.fontawesome.com/3550d15b8c.js')
            script(src='/js/money.min.js')
            script(src='//cdnjs.cloudflare.com/ajax/libs/Sortable/1.4.2/Sortable.min.js')
            if ENV_DEVELOPMENT
                script(src='http://localhost:35729/livereload.js')
    script.
        //@Author bronson@github
        function replaceQueryParam(param, newval, search) {
            var regex = new RegExp("([?;&])" + param + "[^&;]*[;&]?");
            var query = search.replace(regex, "$1").replace(/&$/, '');
            return (query.length > 2 ? query + "&" : "?") + (newval ? param + "=" + newval : '');
        }
        $(document).ready(function (e) {
            $('.updateParam').click(function (e) {
                var a = $(this);
                var url = window.location.pathname + replaceQueryParam(a.attr('data-query'), a.attr('data-text'), window.location.search)
                window.history.pushState("", "", url);
            })
        })

    body
        block content
