extends layout

block content
    .container.rowpadding
        if message.length > 0
            .row
                .alert.alert-warning= message
        .panel.panel-default
            .panel-heading
                h3.text-center
                    span.fa.fa-sign-in
                    t  Login
            .panel-body
                .row.center-sm
                    .col-sm-12
                        form(action="/login" method="POST")
                            .form-group
                                label Device/Account Wallet Name
                                input.form-control(type="text" name="email")
                            .form-group
                                label Password
                                input.form-control(type="password" name="password")
                            .form-group
                                label 2 Factor Token (Optional):
                                input.form-control(type='password' name='fa')
                            button.btn.btn-info(type='submit') Login
        hr
        p Register a new account?
            a(href="/")  Sign-up