extends layout
include mixins/mixinGroup
include mixins/mixinUtil

block content
    include ./header

    .container
        .page-header
            .row.middle-sm
                .col-sm
                    h1
                        span.fa.fa-user
                        t  Device and Group Limitations

        .row
            .col-sm-12.col-md-3
                .panel.panel-default
                    table.table.table-responsive.table-striped
                        thead
                            th Name
                            //th Name/Private Key
                            th Edit
                        tbody
                            for group,index in groups
                                tr
                                    td.dont-break-out=group.displayName ? group.displayName : group.name
                                    td
                                        button.editGroup.btn.btn-default.updateParam(
                                            data-index=index
                                            data-toggle='pill' href='#GroupTab'+index
                                            data-query='group'
                                            data-text=group.name)
                                            span.fa.fa-pencil
                                            t  Edit
                        script.

            .col-sm-12.col-md-9
                .panel.panel-primary
                    .panel-body
                        .tab-content
                            - if (!query.groupName) query.groupName = groups[0].name
                            for group,index in groups
                                .tab-pane.fade(id="GroupTab"+index class= (group.name == query.group) ? "in active": "")
                                    +groupEdit(group, groups, memberList, policyActions)

        .row
            .well
                code=groups

        +groupEditScript
