extends layout
include mixins/mixinGroup
include mixins/mixinUtil

block content
    include ./header

    .container
        .page-header
            .row.middle-sm
                .col-sm
                    h1
                        t  Edit Policy Graph

        .page-body
            .row.rowpadding
                .col-sm-12
                    -var formId = 'form_' + uid.sync(8);
                    form(id=formId)
                        .form-group.hidden
                            label Name
                            input.form-control(name='name' type='text' value=group.name readonly)
                        .form-group
                            label Name
                            input.form-control(name='displayName' type='text' value=group.getDisplayName() readonly)
                        .form-group
                            label Policy Graph
                            input.form-control(name='policyList' type='text' value=group.policyList id='policyListString')
                        .form-group
                            button.btn.btn-warning.btn-group-justified(type='submit')
                                span.fa.fa-pencil
                                t  Save

                .col-sm-12.col-md-6
                    -var orderSend = JSON.parse(group.policyList)[1]['SEND']
                    ul.list-group(id='SendOrderList')
                        li.list-group-item.disabled(data-id=0) SEND Policy Order
                        for number, index in orderSend
                            li.list-group-item(data-id=number)=idListText[number]
                .col-sm-12.col-md-6
                    -var orderSend = JSON.parse(group.policyList)[1]['CREDIT']
                    ul.list-group(id='CreditOrderList')
                        li.list-group-item.disabled(data-id=0) CREDIT Policy Order
                        for number, index in orderSend
                            li.list-group-item(data-id=number)=idListText[number]



                script.
                    var el = document.getElementById('CreditOrderList');
                    var el2 = document.getElementById('SendOrderList');

                    var sortableCredit = new Sortable(el, {
                        onUpdate: function (e) {
                            updateList(sortableCredit.toArray(), sortableSend.toArray())
                        }
                    });

                    var sortableSend = new Sortable(el2, {
                        onUpdate: function (e) {
                            updateList(sortableCredit.toArray(), sortableSend.toArray())
                        }
                    });


                    function updateList(sCredit, sSend) {
                        sCredit = sCredit.map(function(i) {return parseInt(i)});
                        sSend = sSend.map(function(i) {return parseInt(i)});

                        sCredit = $.grep(sCredit, function (a) {return a != 0;});
                        sSend = $.grep(sSend, function (a) {return a != 0;});
                        console.log(sCredit, sSend);

                        var retList = []
                        retList.push([1,2,3])
                        retList.push({
                            "SEND": sSend,
                            "CREDIT": sCredit
                        })
                        console.log('retList:', retList);

                        $("#policyListString").val(JSON.stringify(retList));
                    }

                .col-sm-12
                    .panel.panel-info
                        .panel-heading
                            t Policy Description
                        .panel-body
                            dl.dl-horizontal
                                for value, key in idListText
                                    dt=idListText[key]
                                    dd
                                        case key
                                            when "1"
                                                t Check if group is the root user. Will return YES decision
                                            when "2"
                                                t Check if the stop policy is activate. Will return NO decision when policy is active and between set dates.
                                            when "3"
                                                t All the required fields are present. Stops when decision NO.
                                            when "4"
                                                t Check if requested amount can be send without any other interventions. Stops when YES decision.
                                            when "5"
                                                t Check if allowed to sent requested amount, based on the available credit. Stops when YES decision.
                                            when "6"
                                                t Check if requested amount can be send with intervention of other configured parties. Stops when YES decision.
                                            when "7"
                                                t Checks if the rate limit is reached (e.g. maximum each day). Stops when NO decision.
                                            when "8"
                                                t Check if requested amount in credit is allowed. Stops when decision YES.
                                            when "9"
                                                t Returns a NO decision.
                                            when "10"
                                                t Returns a YES decision.
                                            when "11"
                                                t Check if address is on the blacklist. If it is, decision NO returned.
                                            when "12"
                                                t Check if address is on the whitelist. If it is, decision YES returned.

                .col-sm-12.hidden
                    code=group

        script.
            $(function() {
                var formId = '#' + !{JSON.stringify(formId)}
                $(formId).submit(function (e) {
                    e.preventDefault();
                    var data = $(formId).serializeJSON();
                    console.log(data)
                    var url = '/api/group/update'
                    $.ajax({
                        method: 'post',
                        data: data,
                        url: url,
                        success: function (e) {
                        },
                        error: function (e) {
                        }
                    })
                })
            })