extends layout
include mixins/mixinUtil

block content
    include ./header

    .container
        .page-header
            .row.middle-sm
                .col-sm
                    h1
                        span.fa.fa-user
                        t  Profile Page
        .row
            .col-sm-12
                .well
                    h3 Local Account Wallet
                    p
                        strong Id:
                        =" " +user._id
                        br
                        strong Login Name:
                        =" " + user.local.email
                        br
                        if user.fa.enabled
                            p.text-success 2 Factor Authentication Enabled
                        else
                            p.text-danger 2 Factor Authentication not enabled, we highly suggest you do!
                            br
                            -var modalId = uid.sync(8)
                            .btn.btn-warning(data-toggle='modal' data-target='#' + modalId)
                                t Enable 2 Factor Authentication
                            +confirmModal(modalId, "Enable 2-Factor Authentication", '', '/account/enable2FA', 'btn-warning', 'Enable')
                                .row.rowpadding.center-sm.text-center
                                    .col-sm-12
                                        p Scan this code with a 2FA app like Google Authenticator or Authy. Then click Enable
                                .row.rowpadding.center-sm.text-center
                                    .col-sm-12
                                        img(src=user.fa.qr)
                                    .col-sm-12
                                        p Secret:
                                        p.text-muted.dont-break-out(id=modalId + '_code')=user.fa.secret

        .row
            if accountList.length > 0
                each account in accountList
                    .col-sm-12
                        .well
                            p
                                strong Wallet Name:
                                =" " + account.name
                                br
                                strong Wallet Type:
                                =" " + account.type
                                br
                                strong Wallet Public Key
                                =" " + account.pubkey
                                br
                                a.btn.btn-default(href='/account/' + account.id) View WalletJ