extends layout

block content
    .container.rowpadding
        if message.length > 0
            .row
                .alert.alert-warning= message
        .panel.panel-default
            .panel-heading
                h3.text-center
                    span.fa.fa-sign-in
                    if accountType == 'WalletMSS'
                        t  Register a new Wallet
                    else
                        t Register a new Device
            .panel-body
                .row.center-sm
                    .col-sm-12
                        form(action="/signup" method="POST")
                            .form-group
                                label Device/Login Name
                                input.form-control(type="text" name="email")
                            .form-group
                                label Password
                                input.form-control(type="password" name="password")
                            .form-group
                                label Password Check
                                input.form-control(type="password" name="password2")
                            .form-group.hidden
                                label
                                input.form-control(type='text' name='accountType' value=accountType readonly)
                            button.btn.btn-warning(type='submit') Login

        hr
        p Need to login?
            a(href="/login")  Login