mixin notificationsDiv(notifications)
    .row.rowpadding
        .col-sm-12
            div#notificationsAlertDiv
        .col-sm-12
            table.table.table-responsive.table-striped
                thead
                    tr
                        th Type
                        th Message
                        th Actions
                tbody
                    for not in notifications
                        tr
                            td=not.type
                            td=not.data.msg
                            td
                                if not.type == 'AUTH' || 'CREDIT'
                                    .btn-group
                                        button.btn.btn-success.clicknot(data-id=not.id data-action='ACK' data-loading-text='Working...') Approve
                                        button.btn.btn-danger.clicknot(data-id=not.id data-action="NACK" data-loading-text='Working...') Remove

    script.

        $(".clicknot").click(function (e) {
            var btn = $(this).button('loading');
            var div = $('#notificationsAlertDiv');
            var tr = btn.closest('tr')
            div.removeClass()
            e.preventDefault();
            $.ajax({
                method: 'post',
                url: '/api/account/' + account.id + '/not/update',
                data: {
                    msgType: 'N_UPDATE',
                    msgData: {
                        id: btn.attr('data-id'),
                        action: btn.attr('data-action')
                    }
                },
                success: function (e) {
                    console.log('success', e)
                    btn.button('reset')
                    if (e.msg == '') {
                        div.removeClass()
                    }
                    else if (typeof e.msg =='string') {
                        div.addClass('alert alert-success');
                        div.html(e.msg);
                    }
                    else if (e.msg) {
                        div.addClass('alert alert-success');
                        var html = e.msg.status
                        if (e.msg.status == 'Transaction Broadcasted') {
                            html = 'Successfully send transaction with id: <a href="https://live.blockcypher.com/btc-testnet/tx/' + e.msg.info + '" class="alert-link">' + e.msg.info + '</a>'
                        }
                        div.html(html);
                    }
                    tr.hide()
                },
                error: function (e) {
                    tr.hide()
                    btn.button('reset')
                }
            })
        })
