include mixinUtil

mixin creditDiv(account, credit)
    .row.rowpadding
        .col-sm-12
            div#CreditDivAlert
        .col-sm-12
            //-   var credit = credit || 0
            h3 Current Credit
        .col-sm-12
            form#RequestCreditForm.form
                .form-group
                    label Amount:
                    +amountInput('value', 'SAT', 0, 8)
                .form-group
                    a.btn.btn-success(data-loading-text='Working...')#SubmitRequestCreditForm
                        span.fa.fa-arrow-circle-o-right
                        t  Send

    script.
        $('#SubmitRequestCreditForm').click(function (e) {
            e.preventDefault();
            var btn = $(this).button('loading')
            var data = $('#RequestCreditForm').serializeJSON();
            console.log(data)
            var accountId = !{JSON.stringify(account.id)}
            var url = '/api/account/' + accountId + '/creditRequest'
            var msg = {'msgType' : 'MSW_CREDITREQUEST', 'msgData' : data}

            $.ajax({
                method: 'post',
                data: msg,
                url: url,
                success: function(e) {
                    btn.button('reset')
                    var data = e.msg
                    var div = $('#CreditDivAlert')
                    div.removeClass()
                    div.addClass('alert alert-success')
                    div.html(data)
                },
                error: function (e) {
                    btn.button('reset')
                    var data = JSON.parse(e.responseText).msg
                    var div = $('#CreditDivAlert')
                    div.removeClass()
                    div.addClass('alert alert-danger');
                    div.html(data)
                }
            })
        })