mixin sendClient(account)
    .row.rowpadding
        .col-sm-12
            div#SendClientAlertDiv
        .col-sm-12
            form#SubmitUriForm.form
                .form-group
                    label Address:
                    input.form-control(type='text', name='address')
                .form-group
                    label Amount:
                    +amountInput('amount', 'BTC', 0, 8)
                    //.row
                    //    .col-sm-12.col-md-8
                    //        input.form-control(type='number' name='amount')
                    //    .col-sm-12.col-md-4
                    //        select.form-control(name='currency' style='100%')
                    //            option(value='BTC' selected) BTC
                    //            option(value='USD') USD
                    //            option(value='EUR') EUR
                .form-group
                    a.btn.btn-success(data-loading-text='Working...')#SubmitUri
                        span.fa.fa-arrow-circle-o-right
                        t  Send

    script.
        $('#SubmitUri').click(function (e) {
            var btn = $(this).button('loading')
            e.preventDefault();
            var data = $('#SubmitUriForm').serializeJSON();
            var accountId = !{JSON.stringify(account.id)}
            console.log('form', data)
            var url = '/api/account/' + accountId + '/makeTransaction?submit=true'
            var msg = {
                    'msgType' : 'MSW_MAKETRANSACTION',
                    'msgData' : {
                            'uri' : 'bitcoin:' + data.address + '?amount=' + data.amount,
                            'value_CC': data.amount_CC,
                            'CC' : data.CC
                    }
            }

            $.ajax({
                method: 'post',
                data: msg,
                url: url,
                success: function(e) {
                    btn.button('reset')
                    console.log(e)
                    console.log(e.responseText)
                    var data = e.msg
                    var div = $('#SendClientAlertDiv')
                    div.removeClass()
                    if (data.decision.status == 'YES') {
                        div.addClass('alert alert-success')
                        var html = 'Successfully send transaction with id: <a href="https://live.blockcypher.com/btc-testnet/tx/'+data.txid+'" class="alert-link">' + data.txid + '</a>'
                        div.html(html)
                    } else if (data.decision.status =='NO') {
                        div.addClass('alert alert-danger')
                        div.text(data.decision.msg)
                    } else {
                        div.addClass('alert alert-warning')
                        div.text('Additional actions required:' + data.decision.msg)
                    }
                },
                error: function (e) {
                    btn.button('reset')
                    console.error(e.responseText)
                    var div = $('#SendClientAlertDiv')
                    div.removeClass()
                    div.addClass('alert alert-danger');
                    div.html(JSON.parse(e.responseText).msg);
                }
            })
        })