mixin select2()
    script.
        $('.toSelect2').select2();

mixin submitFormScript(id, url)
    script.
        var id = !{JSON.stringify(id)}
        var url = !{JSON.stringify(url)}
        $(id).click(function (e) {
            e.preventDefault()
            $.ajax({
                method: 'post',
                url: url,
                data: $($(this).attr('data-form')).serializeJSON(),
                success: function (ret) {
                    console.log('Success', url)
                    document.location.reload(true)
                },
                error: function () {
                    console.log('Error', url)
                }
            })

        })

mixin createModal(modalId)
    .modal.fade(id=modalId tabindex="-1" role="dialog")
        .modal-dialog(role="document")
            .modal-content
                block

mixin qrModal(modalId, titleText, subtitleText)
    +createModal(modalId)
        .modal-header
            h3=titleText
            h5.text-muted=subtitleText
        .modal-body
            .row.padding.center-sm
                .col-sm-12
                    div(id=modalId + '_qr')
            .row.padding.center-sm
                .col-sm-12
                    btn.btn.btn-default.btn-group-justified(id=modalId+'_copy' data-clipboard-target='#'+modalId + '_code')
                        span.fa.fa-copy
                        t  Copy
            .row.padding.center-sm
                .col-sm-12
                    t.text-muted.dont-break-out(id=modalId + '_code')
        .modal-footer
            .row
                .col-sm-12
                    a.btn.btn-default(data-dismiss="modal")
                        span.fa.fa-undo
                        t  Back
        script.
            var clipboard = new Clipboard('.btn');

            clipboard.on('success', function (e) {
                $('#' + modalId+'_copy > t').text(' Copied')
                e.clearSelection();
            });

mixin qrModalFill(modalId,id,url,stringify)
    script.
        $(!{JSON.stringify(id)}).click(function (e) {
            var modalId = !{JSON.stringify(modalId)};
            var stringify = !{JSON.stringify(stringify)};
            var url = !{JSON.stringify(url)};
            $.ajax({
                method: 'get',
                url: url,
                success: function (data) {
                    var dataString = stringify ? JSON.stringify(data.msg): data.msg;
                    $('#' + modalId).modal({show: true})
                    $('#' + modalId + '_code').text(dataString);
                    $('#' + modalId + '_qr').empty().qrcode({
                        ecLevel: 'M', text: dataString
                    })
                }
            })
        })

mixin confirmModal(modalId, header, data, url, btnClass, btnText)
    +createModal(modalId)
        .modal-header.text-center
            h3=header
        .modal-body.text-center
            .row.center-sm
                block
            .row
                .btn-group.btn-group-justified
                    a.btn.btn-default(data-dismiss="modal")
                        span.fa.fa-undo
                        t  Back
                    a.btn(id="btn_delete_" + modalId class=btnClass)
                        span.fa.fa-trash
                        t=btnText
        script.
            $('#btn_delete_' + '#{modalId}').click(function (e) {
                var vars = !{JSON.stringify([modalId, data, url])}
                var data = typeof vars[1] == typeof "" ? $(vars[1]).serializeJSON() : vars[1]
                console.log('data', data);
                console.log('clicked', '#btn_delete' + vars[0])
                var pubkey = $('#btn_' + vars[0]).attr('data-pubkey')
                $.ajax({
                    method: 'post',
                    url: vars[2],
                    data: data,
                    success: function (ret) {
                        console.log('Success')
                        document.location.reload(true)
                    },
                    error: function () {
                        console.log('Error')
                    }
                })
               })

mixin getBalanceScript(targetId, accountId)
    script.
        function getBalance() {
            var targetId = !{JSON.stringify(targetId)}
            var accountId = !{JSON.stringify(accountId)}
            $.ajax({
                method: 'get',
                url: '/api/account/' + accountId + '/balance?testnet=true',
                success: function(data) {
                    if (data.status == "success") {
                        console.log(data.msg.satoshis)
                        $('#'+targetId).text(data.msg.satoshis/100 + ' bits');
                    } else {
                        console.error('Something', data)
                    }
                }
            })
        };
        getBalance();

mixin typeToPretty(type)
    case type
        when 'Wallet'
            t Default Wallet
        when 'WalletMSC'
            t Bitcoin Device Wallet
        when 'WalletMSS'
            t Bitcoin Server Wallet
        when 'WalletAdmin'
            t Admin Wallet

//BaseValue = Value to be send over as nameInput
mixin amountInput(nameInput, baseValue, startValue, roundOn)
    .row
        - var aId = uid.sync(8)
        .col-sm-12.col-md-8
            input.form-control(type='number' placeholder='Amount' id = aId + '_input' name=nameInput +'_CC')
            input.form-control.hidden(type='number' name=nameInput value=startValue readOnly id = aId + '_realInput')
        .col-sm-12.col-md-4
            select.form-control(name='CC' style='100%' id = aId + '_select')
                option(value='BTC' selected) BTC - Bitcoins
                option(value = 'SAT') Satoshis
                option(value = 'BIT') Bits
                option(value='USD') USD - United States Dollar
                option(value='GBP') GBP - British Pound
                option(value='EUR') EUR - Euro

        script.
            fx.base = "USD";
            fx.rates = {"BTC":"0.0015365349600117", "SAT": "153653.49600117", "BIT": "1536.5349600117","EUR":"0.903179","HKD":"7.757587","CNY":"6.690480","CAD":"1.305275","BRL":"3.298139","AUD":"1.311145","TRY":"2.894418","RUB":"63.801120","HRK":"6.767702","NOK":"8.412663","CHF":"0.985278","SEK":"8.523121","RON":"4.056539","PLN":"3.978956","HUF":"283.047327","GBP":"0.753233","DKK":"6.717666","CZK":"24.415643","BGN":"1.766438","JPY":"104.606214","USD":"1.000000"}
            fx.settings = {from: "BTC", to: "USD"};
            $(function () {
                var aId = !{JSON.stringify(aId)}
                var roundOn = parseInt(!{JSON.stringify(roundOn)})
                var baseValue = !{JSON.stringify(baseValue)}
                var inputId = '#' + aId + '_input';
                var realInputId = '#' + aId + '_realInput'
                var selectId = '#' + aId + '_select'
                var realVal = $(realInputId).val();
                var selectedCur = $( selectId+" option:selected" ).val();
                var shownVal = fx.convert(realVal, {from: baseValue, to: selectedCur})
                console.log(realVal, baseValue, selectedCur, shownVal)
                $(inputId).val(shownVal)

                function updateInput() {
                    var newVal = fx.convert($(inputId).val(), {from: $( selectId+" option:selected" ).val(), to: baseValue})
                    if (roundOn != undefined) {
                        console.log('RoundOn', newVal, Math.round(newVal))
                        newVal = Math.round(newVal * Math.pow(10,roundOn)) / Math.pow(10,roundOn);
                    }
                    console.log($(inputId).val(), $(selectId + " option:selected").val(), newVal, baseValue, roundOn)

                    $(realInputId).val(newVal)
                }

                function updateSelect() {
                    var newVal = fx.convert($(realInputId).val(), {from: baseValue, to: $(selectId + " option:selected").val()})
                    console.log($(realInputId).val(), baseValue, newVal, $(selectId + " option:selected").val())
                    $(inputId).val(newVal)
                }

                $(selectId).change(updateSelect)
                $(inputId).change(updateInput)
            });