
mixin groupEdit(group, groups, memberSet, policyActions)
    - var formId = "form_" + uid.sync(18);
    form(id=formId)
        .form-group.hidden
            label Name:
            input.form-control(name='name' type='text' value=group.name readOnly)
        .form-group
            label Device Name:
            input.form-control(name='displayName' type='text' value=group.displayName)
        .form-group
            label Member of these groups:
            select.form-control.toSelect2(name='members' multiple="multiple" style="width: 100%")
                for g in groups
                    //Parsing all the groups
                    -
                        var memberList = memberSet[group.name] // List of all members to the group
                        var name = g.displayName != "" ? g.displayName : g.name;
                        var isMember = (_.indexOf(memberList, g.name) > -1)
                    if isMember
                        option(value=g.name selected)=name
                    else
                        option(value=g.name)=name

        .form-group.text-right
            .btn-group
                a.btn.btn-default(data-toggle="modal" data-target="#modal_"+formId)
                    span.fa.fa-plus
                    t  Create New Group
                a.btn.btn-default(href='/policy/graph/' + group.name)
                    span.fa.fa-pencil
                    t  Edit Policy Graph (Advanced)
                button.btn.btn-warning.formSave(data-form=formId)
                    span.fa.fa-pencil
                    t  Edit/Save
                - var text = 'Are you sure you want to delete this group?'
                - var modalId = 'modal_delete_' + uid.sync(8)
                a.btn.btn-danger(data-toggle='modal' data-target='#'+modalId)
                    span.fa.fa-times
                    t  Remove Group/Device
    +confirmModal(modalId, text, '#'+formId, '/api/group/remove', 'btn-danger', ' Remove')


    .modal.fade(id="modal_"+formId tabindex="-1" role="dialog" aria-labelledby="modalNewGroup")
        .modal-dialog(role="document")
            .modal-content
                .modal-header
                    button.close(data-dismiss="modal")
                        fa.fa.fa-close
                    h4.modal-title Create a new group
                .modal-body
                    form(id='modal_form_'+formId)
                        .form-group
                            label Group Name
                            input.form-control(name='name' type="text" placeholder='Name')
                        .form-group.text-right
                            .btn-group
                                a.btn.btn-warning.saveNewGroup(data-form='#modal_form_'+formId)
                                    span.fa.fa-plus
                                    t  Save
                                a.btn.btn-danger(data-dismiss="modal")
                                    span.fa.fa-close
                                    t  Close

    .row
        .col-sm
            .page-header
                h3 Device/Group Limits:
    .row
        .col-sm-12.col-md-2
            ul.nav.nav-pills.nav-stacked
                for action,index in group.policyActions
                    li(role="presentation" class= (action.type == query.policy) ? "active": "")
                        a.updateParam(
                            data-toggle="pill"
                            href="#" + group.name +"_PolicyTab_"+index
                            data-text=action.type
                            data-query='policy'
                            )
                                +typePretty(action.type)


        .col-sm-12.col-md-10
            .tab-content
                for action,index in group.policyActions
                    .tab-pane.fade(id=group.name +"_PolicyTab_"+index, class= (action.type == query.policy) ? "in active": "")
                        .row
                            .col-sm-12
                                - var formId2 = "form_" + uid.sync(18);
                                form(id=formId2).form
                                    .col-sm-12
                                        .form-group.hidden
                                            label For Group
                                            input.form-control(type='text' value=group.name name='name' readonly)
                                        .form-group.hidden
                                            label Policy Type
                                            input.form-control(type='text' value=action.type name='type' readonly)
                                        +policyDescirption(action.type)
                                        for value, key in action.vars
                                            +formGroup(key,value,groups)
                                        .form-group
                                            .btn-group.pull-right
                                                a.btn.btn-default(data-target="#modal_"+ formId2 data-toggle='modal')
                                                    span.fa.fa-plus
                                                    t  Add New Limit
                                                button.btn.btn-warning.ActionSave(data-form=formId2)
                                                    span.fa.fa-pencil
                                                    t  Edit/Save
                                                a.btn.btn-danger.ActionDelete(data-form=formId2)
                                                    span.fa.fa-times
                                                    t  Delete

                                .modal.fade(id = 'modal_'+ formId2 tabindex="-1" role="dialog")
                                    .modal-dialog(role="document")
                                        .modal-content
                                            .modal-header
                                                button.close(data-dismiss="modal")
                                                    fa.fa.fa-close
                                                h4.modal-title Add a new limit to device/group
                                            .modal-body
                                                form.form(id='modal_form_'+ formId2)
                                                    .form-group.hidden
                                                        label Group Name
                                                        input.form-control(name='name' value=group.name readOnly)
                                                    if group.displayName
                                                        .form-group
                                                            label Device/Group Name:
                                                            input.form-control(value=group.displayName readOnly)
                                                    .form-group
                                                        label Limit:
                                                        br
                                                        select.form-control.toSelect2(name="type" style='width:100%')
                                                            for action in policyActions
                                                                option(value=action)
                                                                    +typePretty(action)
                                                    .form-group.text-right
                                                        .btn-group
                                                            a.btn.btn-warning.saveModalFormNewPolicy(data-form='#modal_form_'+ formId2)
                                                                span.fa.fa-plus
                                                                t  Save
                                                            a.btn.btn-danger(data-dismiss="modal")
                                                                span.fa.fa-close
                                                                t  Close


mixin groupEditScript()
    script.
        $(".ActionSave:button").click(function (e) {
            e.preventDefault();
            var data = $("#" + $(this).attr('data-form')).serialize()
            console.log("ActionSaved")
            console.log(data)
            $.ajax({
                method: 'POST',
                url: '/api/group/policy/update',
                data: data,
                success: function () {
                    document.location.reload(true)

                },
                error: function () {

                }
            })
        })

        $(".ActionDelete").click(function (e) {
            e.preventDefault();
            console.log($("#" + $(this).attr('data-form')).serialize())
            $.ajax({
                method: 'POST',
                url: '/api/group/policy/delete',
                data: $("#" + $(this).attr('data-form')).serialize(),
                success: function () {
                    document.location.reload(true)
                },
                error: function () {

                }
            })
        })

        $('.formSave:button').click(function (e) {
            e.preventDefault();
            var data = $("#" + $(this).attr('data-form')).serialize()
            console.log(".fromSave:button")
            console.log(data)
            $.ajax({
                method: 'post',
                url: '/api/group/update',
                data: data,
                success: function (s) {
                    document.location.reload(true)
                },
                error: function (e) {

                }
            })
        })

        $('.removeGroup').click(function (e) {
            e.preventDefault();
            console.log("removeGroup")
            var data = $("#" + $(this).attr('data-form')).serialize()
            $.ajax({
                method:'post',
                url: '/api/group/remove',
                data: data,
                success: function(s) {
                    console.log("hello")
                    location.reload(true)
                },
                error: function (e) {

                }
            })
        })

        $('.saveNewGroup').click(function (e) {
            e.preventDefault()
            console.log("Creating new group");
            $.ajax({
                method: 'post',
                url: '/api/group/new',
                data: $($(this).attr('data-form')).serialize(),
                success: function (ret) {
                    window.location.href = location.protocol + '//' + location.host + location.pathname + '?selectGroup=' + ret.name
                },
                error: function () {
                    
                }
            })
            
        })

        $('.saveModalFormNewPolicy').click(function(e) {
            e.preventDefault();
            $.ajax({
                method: 'post',
                url: '/api/group/policy/add',
                data: $($(this).attr('data-form')).serialize(),
                success: function() {
                    location.reload(true)
                }
            })
        })

        $('.toSelect2').select2();

mixin policyDescirption(type)
    .form-group
        .alert.alert-info
            case type
                when 'SEND'
                    t Set limits on the amount each device/group can send using the Minimum/Maximum Transaction amounts
                when 'AUTH'
                    t Set for which transaction amounts the device needs authentication of other devices.
                    t And set how much of these other devices are needed to confirm. Payment will be send once this limit is reached.
                when 'CREDIT'
                    t Allow the device to request credit on his account below the set Maximum.
                    t Then set which and how many of the other devices need to confirm.
                when 'RATELIMIT'
                    t Limit the device in sending a Maximum Amount for each day/week. eg: 4 Days, 5$
                when 'ROOT'
                    t
                        strong Devices with this limit added will be able to perform every action, without any limitations!
                            t  This included all transactions of any amount.
                when 'STOP'
                    t Transactions between the start and end date won't be allowed to send.
                when 'BLACKLIST'
                    t Addresses on the blacklist will never be allowed to receive any transaction.
                when 'WHITELIST'
                    t Addresses on the whitelist will always be allowed to receive funds from any amount.


mixin formGroup(key, value,groups)
    .form-group
        case key
            when 'enable'
                label Activated:
                select.form-control.toSelect2(name=key style='width: 100%')
                    option(value='off' selected=(value=='on' ? undefined : "selected")) Disabled
                    option(value='on' selected=(value =='on' ? "selected" : undefined)) Enabled
            when "credit"
                label Credit on Device:
                //input.form-control(name=key type='number' value=value)
                +amountInput(key, 'SAT', value, 0)

            when "lowerBound"
                label Minimum Transaction Amount:
                //input.form-control(name=key type='number' value=value)
                +amountInput(key, 'SAT', value, 0)
            when "upperBound"
                label Maximum Transaction Amount:
                //input.form-control(name=key type='number' value=value)
                +amountInput(key, 'SAT', value, 0)
            when "threshold"
                label Amount of Devices that need to Confirm:
                input.form-control(name=key type='number' value=value)
            when "groups"
                label Confirming Devices:
                br
                select.form-control.toSelect2(name=key multiple="multiple" style="width: 100%")
                    for group in groups
                        - var isMember = (_.indexOf(value, group.name) > -1)
                        if isMember
                            option(value=group.name selected)=group.displayName ? group.displayName : group.name
                        else
                            option(value=group.name)=group.displayName ? group.displayName : group.name
            when 'timeAmount'
                label Amount of Days/Weeks:
                input.form-control(name=key, type='number' value=value)
            when 'timeScale'
                select.form-control.toSelect2(name=key sytle='widht: 100%')
                    option(value='days' selected) Days
                    option(value='weeks') Weeks
            when 'fromDate'
                label From Date:
                input.form-control(nid = id name='fromDate' value=moment(value, 'DD/MM/YY').format('DD/MM/YY') data-provide="datepicker" data-date-format='dd/mm/yy')
            when 'toDate'
                label To Date:
                input.form-control(id=id name='toDate' value=moment(value, 'DD/MM/YY').format('DD/MM/YY') data-provide="datepicker" data-date-format='dd/mm/yy')
            when 'blacklist'
                label Address List:
                select.form-control.select2tag(name=key+'[]' multiple="multiple" style="width: 100%")
                    if Array.isArray(value)
                        for o in value
                            option(value=o selected)=o
                    else
                        option(value=value selected)=value
                script.
                    $(".select2tag").select2({tags: true, multiple: true})

mixin typePretty(type)
    case type
        when 'SEND'
            t Spending Limits
        when 'AUTH'
            t Authenticated Sending
        when 'CREDIT'
            t Requesting Credit
        when 'RATELIMIT'
            t Time Limits
        when 'ROOT'
            t Administrator
        when 'STOP'
            t Stop
        when 'BLACKLIST'
            t Blacklist
        when 'WHITELIST'
            t Whitelist